click==8.1.3
Markdown==3.4.1
numpy==1.24.1
pandas==1.5.2
python-dotenv==0.21.0
scikit_learn==1.2.0
setuptools==65.5.0
torch==1.13.1
tqdm==4.64.1
transformers==4.25.1
dvc==2.38.1
hydra-core
dvc==2.38.1
dvc-data==0.28.4
dvc-gdrive==2.19.1
dvc-http==2.27.2
dvc-objects==0.14.0
dvc-render==0.0.15
dvc-studio-client==0.3.0
dvc-task==0.1.8
dvclive==1.3.2
dvc-gs==2.21.0
